body {
    background-color: #808080;
}

h1 {
    text-align: center;
    color: pink;
    font-family: "Comic Sans MS";
}

.character-box {
    width: 150px;
    height: 135px;
    background: transparent url('../images/mlp/pinkie-pie-8-bit_small.png') no-repeat 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.character-box.fire {
    background-position-y: -135px;
}