body {
    background-color: #808080;
}

h1 {
    text-align: center;
    color: pink;
    font-family: "Comic Sans MS";
}

.character-box {
    width: 150px;
    height: 135px;
    background: transparent url('../images/mlp/pinkie-pie-8-bit_small.png') no-repeat 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.character-box.fire {
    background-position-y: -135px;
}

.laser-box {
    border: solid 3px #FFC0CB;
    border-radius: 4px;
    background-color: #FF0000;
    display: inline-block;
    width: 40px;
    height: 20px;
    position: absolute;

    transition: left 2s ease 1s;
}

.laser-box.move-trans {
    left: 1024px !important;
}